body{
    margin: 0;
    font-family: monospace;
}

.navigation_bar{
    background-color: #454545;
    text-align: right;
    padding: 20px;
}

.nav-link{
    color:black;
    margin: 20px;
    font-size: 20px;
}

.nav-link:hover{
    color:#FF9900;
}


.top_container{
   background-color: #FF9900;
   padding: 100px;
   text-align: center;
   border-top: dashed;
   border-bottom: dashed;
   
}

.intro{
    font-family:'Courier New', Courier, monospace;
    font-size: 50px;
}

.middle_container{
    padding: 150px 50px 200px 50px;
    background-color: #454545;
    font-family: 'Courier New', Courier, monospace;
    color: #FF9900;
}

.skill-row{
    width: 50%;
    margin: 50px auto 150px auto;
    text-align: left;
    line-height: 1;
    padding-bottom: 50px;
}

.bottom_container{
    padding: 50px;
    background-color: #FF9900;
    top: 600px;
    text-align: center;
    border-style: dashed;
    border-width: 4px;
    border-left: 0;
    border-bottom: 0;
    border-right: 0;
}

.wizard-img{
    width: 10em;
    position: relative;
    float: left;
    margin-right: 10px;
}

.assasin-img{
    width: 25%;
    position: relative;
    float: right;
    margin-left: 10px;
}

.skills-heading{
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2px;
    text-align: left;
}

.aboutme-heading{
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2px;
    text-align: left;
}

.footer-link{
    color: black;
    margin: 15px;
    font-size: 20px;
}

.footer-link:hover{
    color: black;
    border-style: dashed;
}